<ng-container>
	<!-- Header -->
	<app-products-header />
	<!-- end Header -->
	<!-- Product List -->
	@if (loading) {
		<app-loading />
	} @else {
		<app-product-list [products]="products" />
	}
	<!-- end Product List -->
	<!-- Pagination -->
	@defer (on viewport) {
		<app-pagination
			[currentPage]="currentPage"
			[totalPages]="totalPages"
			[totalItems]="totalProducts"
			[itemsPerPage]="limit"
			(pageChange)="onPageChange($event)" />
	} @placeholder {
		<p>Pagination</p>
	}
	<!-- end Pagination -->
</ng-container>
