<div class="flex h-[300px] flex-col justify-between rounded-lg bg-night-700">
	<div class="flex items-center justify-between px-8 pt-8">
		<span class="text-lg font-semibold text-white">{{ playerData.name }}</span>
	</div>
	<div class="flex grow flex-col items-center justify-center">
		<div class="h-24 w-24 rounded-full p-1 ring-2 ring-primary-500" style="position: relative">
			<img class="h-full w-full rounded-full" ngSrc="{{ playerData.coverPhoto }}" alt="Bordered avatar" fill />
		</div>
	</div>
	<div class="flex items-center justify-between px-4 py-4 text-xs text-gray-400">
		<span>{{ playerData.playerInfo.progress }}</span>
		<span>{{ playerData.currentEpisode.duration }}</span>
	</div>
	<div class="relative flex h-20 flex-col justify-center rounded-b-lg bg-primary-500">
		<div class="cursor-pointer">
			<div class="absolute left-0 right-0 top-0 h-1 bg-night-500"></div>
			<div class="absolute left-0 right-0 top-0 h-1 w-5 bg-white"></div>
			<div class="absolute -top-1.5 left-5 right-0 h-4 w-4 rounded-full bg-primary-600"></div>
		</div>
		<div class="flex items-center justify-center gap-2">
			<div class="flex h-10 w-10 items-center justify-center">
				<span class="flex text-white"><ng-icon name="tablerArrowsShuffle" size="1.25rem" /></span>
			</div>
			<div class="flex h-10 w-10 items-center justify-center">
				<span class="flex text-white"><ng-icon name="tablerPlayerSkipBackFilled" size="1.25rem" /></span>
			</div>
			<div class="flex h-10 w-10 items-center justify-center rounded-full bg-white">
				<span class="flex text-primary-500"><ng-icon name="heroPlaySolid" size="1.25rem" /></span>
			</div>
			<div class="flex h-10 w-10 items-center justify-center">
				<span class="flex text-white"><ng-icon name="tablerPlayerSkipForwardFilled" size="1.25rem" /></span>
			</div>
			<div class="flex h-10 w-10 items-center justify-center">
				<span class="flex text-white"><ng-icon name="tablerRepeat" size="1.25rem" /></span>
			</div>
		</div>
	</div>
</div>
