<div class="mx-auto px-4 py-4 lg:container sm:px-8">
	<!-- Header -->
	<app-products-header />
	<!-- end Header -->
	<!-- Product List -->
	@defer {
		<app-product-list [products]="products()" />
		<!-- end Product List -->
		<!-- Pagination -->
	} @loading {
		<app-loading />
	} @error {
		<p>An loading error occured</p>
	}
	@defer (on viewport) {
		<app-pagination
			[currentPage]="currentPage"
			[totalPages]="totalPages"
			[totalItems]="totalProducts"
			[itemsPerPage]="limit"
			(pageChange)="onPageChange($event)" />
	} @placeholder {
		<p>Pagination</p>
	}
	<!-- end Pagination -->
</div>
