<div class="mx-auto px-4 py-4 lg:container sm:px-8">
	<!-- Header -->
	<dash-home-header />
	<!-- end Header -->

	<div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4">
		<!-- end Single Card -->
		<!-- Project todo -->
		<div class="md:col-span-4 xl:col-span-4">
			<dash-project-todo />
		</div>
		<!-- end Project todo -->
		<!-- Transaction Table -->
		<div class="md:col-span-4 xl:col-span-4">
			<dash-transactions-table />
		</div>
		<!-- end  Transaction Table -->
	</div>
</div>
