<div class="relative ml-3">
	<!-- Notification Button -->
	<button
		(click)="toggleMenu()"
		clickOutside
		(clickOutside)="isMenuOpen = false"
		class="relative flex max-w-xs items-center rounded-full text-gray-400 hover:text-gray-700 focus:text-gray-900 focus:outline-none dark:bg-gray-800 dark:hover:text-white"
		type="button"
		aria-expanded="false"
		aria-haspopup="true"
		aria-controls="notification-menu">
		<span class="absolute -inset-1.5"></span>
		<span class="sr-only">View notifications</span>
		<span class="flex"><ng-icon name="heroBell" size="1.5rem" aria-hidden="true" /></span>
		<span
			*ngIf="notificationData.length > 0"
			class="absolute -right-2 -top-1 h-4 w-4 items-center rounded-full bg-orange-500 p-0.5 text-center text-[0.6rem] font-bold text-white">
			{{ notificationData.length }}
		</span>
	</button>
	<!-- Dropdown -->
	<div
		id="notification-menu"
		[ngClass]="
			isMenuOpen
				? 'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200'
				: 'pointer-events-none scale-95 opacity-0 duration-100 ease-in'
		"
		class="absolute right-0 z-10 mt-2 w-60 origin-top-right transform rounded-md bg-white py-2 shadow-custom ring-1 ring-transparent ring-opacity-5 transition focus:outline-none dark:bg-gray-600">
		<ul class="mx-4 my-2" *ngFor="let notification of notificationData">
			<li>
				{{ notification.name }}
				<ul class="mx-4 my-2" *ngFor="let link of notification.links">
					<li
						routerLink="{{ link.href }}"
						class="block cursor-pointer rounded-md px-3 py-2 text-sm font-semibold text-gray-700 hover:bg-gray-100 hover:text-primary-500 dark:text-gray-200 dark:hover:bg-gray-500 dark:hover:text-primary-500">
						{{ link.title }}
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
