<div class="relative bg-white dark:bg-gray-800">
	<nav class="bg-white dark:bg-gray-800">
		<div class="mx-auto px-4 lg:container sm:px-8">
			<div class="flex h-16 items-center justify-between">
				<div class="flex items-center">
					<!-- Logo -->
					<div class="flex flex-shrink-0 items-center">
						<a class="flex cursor-pointer items-center justify-center focus:outline-none" [routerLink]="['/']">
							<app-logo />
							<b class="hidden pl-3 text-sm font-bold uppercase dark:text-night-50 sm:block"> Angular Store </b></a
						>
					</div>
					<!-- Desktop Menu -->
					<div class="hidden md:block">
						<div class="ml-10 flex items-baseline space-x-4">
							<app-navbar-menu />
						</div>
					</div>
				</div>
				<!-- Right menu items -->
				<div class="hidden md:block">
					<div class="ml-4 flex items-center gap-x-2 md:ml-6">
						<!-- Notification dropdown -->
						<app-notification-menu />
						<!-- Cart dropdown -->
						<app-cart-menu />
						<!-- Profile dropdown -->
						<app-profile-menu />
					</div>
				</div>
				<!-- Mobile Navigation Menu Button-->
				<div class="flex md:hidden">
					<app-burger-button />
				</div>
			</div>
		</div>
		<!-- Mobile menu -->
		<app-navbar-mobile />
	</nav>
</div>
