<div class="mx-auto px-4 py-4 lg:container sm:px-8">
	<!-- Header -->
	<dash-podcast-header />
	<!-- Content -->
	<div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
		<!-- Card Banner -->
		<dash-podcast-card-banner class="col-span-2" />
		<!-- Player -->
		<dash-podcast-player class="col-span-2 lg:col-span-1" />
	</div>
	<div class="row mt-8">
		<h3 class="text-sm font-semibold uppercase dark:text-white">Continue Listening</h3>
		<div class="mt-4 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
			<dash-podcast-card-item
				*ngFor="let podcast of listening"
				[title]="podcast.title"
				[subtitle]="podcast.subtitle"
				[image]="podcast.image" />
		</div>
	</div>
	<div class="row mt-8">
		<h3 class="text-sm font-semibold uppercase dark:text-white">List of Podcast</h3>
		<dash-podcast-list />
	</div>
</div>
