<div class="mx-auto px-4 py-4 lg:container sm:px-8">
	<!-- Header -->
	<dash-products-header />
	<!-- end Header -->
	<!-- Search -->
	<app-search-bar [searchFormControl]="searchFormControl" />
	<!-- end Search -->
	<!-- Filters -->
	<dash-products-filter />
	<!-- end Filters -->
	<!-- Product List -->
	@if (loading()) {
		<app-loading />
	} @else {
		<dash-product-list-table [products]="products()" />
	}
	<!-- end Product List -->
	<!-- Pagination -->
	@defer (on viewport) {
		<app-pagination
			[currentPage]="currentPage"
			[totalPages]="totalPages"
			[totalItems]="totalProducts"
			[itemsPerPage]="limit"
			(pageChange)="onPageChange($event)" />
	} @placeholder {
		<p>Pagination</p>
	}
	<!-- end Pagination -->
</div>
