<div class="relative ml-3">
	<!-- Cart Button -->
	<button
		(click)="toggleMenu()"
		clickOutside
		(clickOutside)="isMenuOpen = false"
		class="relative flex max-w-xs items-center rounded-full text-gray-400 hover:text-gray-700 focus:text-gray-900 focus:outline-none dark:bg-gray-800 dark:hover:text-white"
		type="button"
		aria-expanded="false"
		aria-haspopup="true"
		aria-controls="cart-menu">
		<span class="absolute -inset-1.5"></span>
		<span class="sr-only">Open user menu</span>
		<span class="flex"><ng-icon name="heroShoppingCart" size="1.5rem" aria-hidden="true" /></span>
		<span
			*ngIf="cartList().length > 0"
			class="absolute -right-2 -top-1 h-4 w-4 rounded-full bg-orange-500 p-0.5 text-center text-[0.6rem] font-bold text-white">
			{{ cartList().length }}
		</span>
	</button>
	<!-- Dropdown -->
	<div
		id="cart-menu"
		[ngClass]="
			isMenuOpen
				? 'pointer-events-auto scale-100 animate-fade-in-up opacity-100 duration-200'
				: 'pointer-events-none scale-95 opacity-0 duration-100 ease-in'
		"
		class="absolute right-0 z-10 mt-2 w-60 origin-top-right transform rounded-md bg-white py-2 shadow-custom ring-1 ring-transparent ring-opacity-5 transition focus:outline-none dark:bg-gray-600">
		<div>
			<div>
				<h2 class="p-6 font-bold">Cart {{ cartList().length }}</h2>
			</div>
			<hr class="text-blue-950 opacity-40 dark:text-blue-400" />
			<div
				class="flex h-full flex-1 flex-col items-center justify-between gap-7 p-6 font-bold text-blue-950 dark:text-blue-400">
				<p *ngIf="!cartList().length; else productList" class="m-auto">Your cart is empty.</p>

				<ng-template #productList>
					<div class="flex max-h-44 w-full flex-col gap-3 overflow-auto">
						<div *ngFor="let product of cartList()" class="flex w-full items-center justify-between">
							<div class="w-11">
								<img [src]="product.image" alt="image thumbnail" />
							</div>
							<div class="font-normal">
								<div>{{ product.title }}</div>
								<div class="flex">
									<p *ngIf="product.quantity > 1">
										<span>{{ product.unitPrice | currency: 'USD' }}</span> x {{ product.quantity }}
									</p>
									<p [ngClass]="product.quantity > 1 ? 'ml-[1ch]' : ''" class="text-Black font-bold">
										{{ product.finalPrice | currency: 'USD' }}
									</p>
								</div>
							</div>
							<button
								[ngClass]="cartList().length > 3 ? 'mr-3' : ''"
								*ngIf="product.id"
								(click)="updateQuantity(product.id, product.quantity - 1)">
								<span class="flex items-center hover:invert"
									><ng-icon class="hover:invert" name="heroShoppingCart" alt="icon delete"
								/></span>
							</button>
						</div>
					</div>

					<button class="text-White w-full bg-orange-400 p-4" type="button">Checkout</button>
				</ng-template>
			</div>
		</div>
	</div>
</div>
