<!--
	Mobile menu, show/hide based on mobile menu state.
	Entering: "duration-200 ease-out"
		From: "opacity-0 scale-95"
		To: "opacity-100 scale-100"
	Leaving: "duration-100 ease-in"
		From: "opacity-100 scale-100"
		To: "opacity-0 scale-95"
-->
<div
	id="mobile-menu"
	[ngClass]="
		menuService.showMobileMenu
			? 'pointer-events-auto  scale-100 animate-fade-in-up opacity-100 duration-200'
			: 'pointer-events-none hidden scale-95 opacity-0 duration-100 ease-out'
	"
	class="origin-top-right transform p-0 transition md:hidden">
	<app-navbar-mobile-menu />
</div>
