<head>
	<meta name="description" content="page not found error" />
</head>

<div class="flex h-screen w-full justify-center bg-gray-100 py-32">
	<div class="max-w-6/12 rounded-lg border p-12 text-center shadow-xl">
		<div class="pt-10 text-3xl font-bold md:text-3xl">404: Page not found</div>
		<div class="mt-4 text-xl font-normal">Oh dear!, the page you tried to display doesn't exist.</div>
		<div class="relative mt-6 flex h-12 justify-center">
			<div
				class="tr-mt svelte-jqwywd absolute flex cursor-pointer rounded bg-green-600 px-4 py-2 text-lg font-medium text-green-100 shadow-md">
				<a href="/">Go to Home page</a>
			</div>
		</div>
	</div>
</div>
